@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    padding-top: 3vw;
    padding-bottom: 3vw;
    justify-content: center;
}

#isAdmin\?{
    color: #FF4B2B;
    font-size: 14px;
}

button,
select,
input,
textarea {
    font: inherit;
}

a {
    color: inherit;
}


.app {
    min-height: 80vh;
    width: 95%;
    max-width: 1600px;
    padding: 2vw 4vw 6vw;
    display: flex;
    flex-direction: column;

}

#username{
    font-size: 22px;
}


.app-header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.headerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}





.app-body {

    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: 175px 80%;
    column-gap: 4rem;
    padding-top: 2.5rem;

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        & > * {
            margin-bottom: 3.5rem;
        }
    }
}
.app-body-navigation {
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1200px) {
        display: none;
    }
}
.footer {
    margin-top: 100%;
    h1 {
        font-size: 1.5rem;
        line-height: 1.125;
        display: flex;
        align-items: flex-start;
        small {
            font-size: 0.5em;
            margin-left: 0.25em;
        }
    }

    div {
        border-top: 1px solid var(--c-gray-600);
        margin-top: 1.5rem;
        padding-top: 1rem;
        font-size: 0.75rem;
        color: var(--c-text-tertiary);
    }
}
.logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    @media (max-width: 1200px) {
        border-bottom: 0;
    }
}
.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}
.logo-title {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}


.slide-fade-enter-active {
    transition: opacity 1s ease;
}

.slide-fade-enter {
    transition: opacity 1s ease;
}

.slide-fade-leave-active {
    transition: opacity 0.5s ease;
}

.slide-fade-leave-to, .slide-fade-enter-from
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.app-body-main-content{
    position: relative;
    overflow: hidden;
    width: 100%; /* Ajusta según tu layout */
    height: 100%; /* Ajusta según tu layout */

}


.app-header-logo{
    margin-bottom: 0;
}


input,
select,
a,
textarea,
button {
    &:focus {
        outline: 0;

    }
}


.body-tab{



}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.25s ease;

        * {
            transition: 0.25s ease;
        }

        i {
            margin-right: 0.75rem;
            font-size: 1.25em;
            flex-shrink: 0;
        }

        & + a {
            margin-top: 1.25rem;
        }

        &:hover,
        &:focus {

            transform: translateX(4px);


        }
        &.active {
            font-weight: 600;
        }

    }
}





