.impresionesContenedor {
    display: flex;
    flex-direction: column;
}

.impresionTotal,
.impresionPorCantidad,
.impresionPorFechaDeCaducidad {
    display: flex;
    flex-direction: row; /* Cambiado a row para que los botones estén en fila */
    justify-content: space-between; /* Para distribuir los botones uniformemente */
    border-bottom: 1px solid #313131; /* Borde solo en la parte inferior */
    padding: 10px; /* Espacio interno */
    margin-bottom: 20px; /* Espacio entre los grupos de botones */
}


#fechaCaducidadInput {

    background-color: var(--c-gray-800);
    color: var(--c-gray-200);
    border: none;
    border-radius: 5px;


}
#cantidadInput {


    background-color: var(--c-gray-800);
    color: white;
    border: none;
    border-radius: 5px;

}

.auxiliarDeCantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}