.service-sectionFather {

    display: block;
    max-width: 100%;


    & > h2 {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
    }
}

.service-sectionFather.active {

    display: block;

}

.tabs {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    color: var(--c-text-tertiary);
    border-bottom: 1px solid var(--c-gray-600);

    a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        border-top: 2px solid transparent;
        display: inline-flex;
        transition: 0.25s ease;
        &.active,
        &:hover,
        &:focus {
            color: var(--c-text-primary);
            border-color: var(--c-text-primary);
        }
    }
}


.table-container{

        overflow: auto;
        width: 100%;


}





.service-section table {

    border: 1px solid var(--c-gray-800);
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    font-size: 12px;

    caption{
        caption-side: top;
        text-align: left;
    }


    th {
        color: var(--c-text-primary);
        text-align: left;
        padding: 0.45rem;
    }

    td {

        background-color: var(--c-gray-700);
        color: var(--c-text-primary);
        padding: 4px;


    }





}

.service-section {

    display: none;
    max-width: 100%;


    & > h2 {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
    }
}

.service-section.active {

    display: block;

}



.risk-container {
    display: flex;
    justify-content: center;
}

.risk-image img {
    width: 30px;
    height: 30px;
    justify-content: center;
    transition: transform 0.3s ease;
}

.risk-image img:hover {
    transform: scale(1.1);
}


.botonesEditDeleteTabla {
    max-width: 150px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
}

.botonesAccionesTabla {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}


.botonAccionTabla{
    transition: transform 0.3s ease;
}


.botonAccionTabla:hover{
    transform: scale(1.13);
    transition: transform 0.3s ease;
}

.service-section {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service-section.active {
    opacity: 1;
}