<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contraseña Olvidada</title>
    <link th:href="@{/css/loginCSS.css}" rel="stylesheet">
</head>
<body>

<div class="form-container-resets">
    <form th:action="@{/forgot-password}" method="post">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Reset Password</button>
    </form>
</div>

<div id="errorMessageContainer" th:if="${error}" th:classappend="${error} ? 'show' : ''">
    <p id="errorMessage" th:text="${error}"></p>
</div>


</body>
</html>