<section class="service-sectionFather">

  <h1>Bienvenido a los Creditos de Curie App, realizada por COSM</h1>

  <div class="creditos">

    <div class="creditosNombres">Félix Caba Martín</div>
    <a>Desarrollador, Dictador del Proyecto</a>

    <div class="creditosNombres">Alejandro Hortal Valor</div>
    <div class="creditosNombres">Jesús Algo Algo</div>
    <div class="creditosNombres">Manuel Zambudio</div>
    <a>Apoyo Emocional</a>

    <div class="creditosNombres">Manuel Cervantes Vico</div>
    <a>Seguridad de la Aplicación, Testeo de vulnerabilidades</a>

    <div class="creditosNombres">Ruth María Galera Mendoza</div>
    <a>La profesora más guapa del Zaidín Vergeles</a>

    <div class="creditosNombres">Cafeína</div>
    <a>Por mantenerme despierto hasta las 6 AM</a>



  </div>





</section>