<div id="editModalUbicacion" class="modal Ubicacion">
    <div class="modal-content Ubicacion">

        <span class="close Ubicacion">&times;</span>
        <h2>Ubicacion</h2>

        <form id="editFormUbicacion">

            <input type="hidden" id="editIdUbicacion">



            <label for="editNombreLocalizacion">Localización:</label>
            <select id="editNombreLocalizacion"></select>

            <label for="editNombreUbicacion">Ubicacion</label>
            <input type="text" id="editNombreUbicacion">



            <button type="submit">Guardar</button>

        </form>
    </div>
</div>

